@if (isLoaded() && photo(); as photo) {
  <mat-card class="photo-card" appearance="outlined" (click)="onCardClick(photo)">
    <mat-card-header>
      <mat-card-title>{{ photo.author }}</mat-card-title>
      <mat-card-subtitle>ID: {{ photo.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="photo.download_url" [alt]="'Photo by ' + photo.author" />
  </mat-card>
} @else {
  <mat-card class="photo-card skeleton-card" appearance="outlined">
    <mat-card-header>
      <div class="skeleton-line title"></div>
      <div class="skeleton-line subtitle"></div>
    </mat-card-header>
    <div class="skeleton-image"></div>
  </mat-card>
}
